.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header.image-header {
  z-index: 100;
  position: absolute;
  bottom: 450px; 
}

.ui.modal>.header {
  background-color: transparent;
  color: white;
  font-size: 30px;
}

.ui.modal>.header span{
    display:inline-block;
    border-bottom:3px solid white;
    padding-bottom:2px;
}
